html {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #EBEEF5;
    color:#001133;
    font-family: "Mulish", sans-serif;
    margin-right:0;
    margin-left:0;
    margin-bottom:0;
    margin-top:15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1
}

header {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    align-items: center;
    line-height: 2rem;
    background-color: #A7C3FA;
    margin: 16px;
    padding: 16px;
    border: 1px solid #152b57;
    border-radius: 5px;
    min-height: 100px;
}

header > h1 {
    font-weight:355;
    font-size: 3rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    margin: 20px 0;
    word-wrap: break-word;
    white-space: normal;
}

.nav-bar {
    display: flex;
    
    flex-wrap: wrap;
    align-content: space-around;
    gap: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 12px 20px
}

.nav-bar > a {
    text-decoration: none;
    margin: 0 15px;
    color: #0D214A;
    font-size: 1.4rem;
    border: 2px solid;
    border-radius: 25px;
    padding: 8px 10px;
}

.nav-bar a.active {
    border: 2px solid #0d214a9e; 
}

.head-img {
    display: block;
    padding: 10px;
    width: 80%;
    max-width: 1918px;
    height: auto;
    border-radius: 5px;
}

.quote {
    margin: 20px 15px;
    padding-top: 0;
    max-width: 900px;
}

.quote q {
    font-size: 1.55rem;
    color: #333;
    font-style: italic;
}

.main-company-description {
    box-sizing: border-box;
    padding: 20px; 
    border: 1px solid #284275; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(3, 4, 22);
    max-width: 1200px;
    margin: 0 20px;
}

.company-general-description,
.general-pros {
    margin-bottom: 30px;
}

.company-description-header {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.description-text p {
    line-height: 1.3rem;
    font-size: 1.15rem;
}

.pros-list ul {
    list-style-type:decimal;
    line-height: 1.3rem;
    font-size: 1.15rem;
}

.transport-service {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-self: center;
    flex-grow: 1;

    max-width: 1900px;
    padding: 0 20px;
}

.service-header, .vessel-table-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px; 
    text-align: center;
}

.transport-card {
    flex-grow: 1;

    border: 1px solid #526CA1;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(3, 4, 22);
    text-align: center;
    margin-bottom: 5%;
    max-width: 400px;
}

.transport-type-header {
    font-size: 1.5rem;
    font-weight: bold; 
    color: #333; 
    margin-bottom: 0.5rem; 
    margin-top: 0.4rem;
}

.transport-description {
    font-size: 1.1rem; 
    line-height: 1.2; 
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    
}

.transport-img {
    display: block;
    width: 400px;
    max-width: 95%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

.vessel-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin: 0 30px;
    margin-bottom: 150px;
    border: 1px solid #001133;
    
}

.vessel-table thead, .vessel-table tbody, .vessel-table tr {
    display: contents
}

.vessel-table th {
    text-align: center;
    font-weight: bold;
    border: 1px solid #001133;
    padding: 8px;
    font-size: 1.55rem;
    background-color:#a6b5d1;
}

.vessel-table tr .vessel-table td {
    text-align: center;
    font-size: 1.4rem;
}

.vessel-table td {
    text-align: center;
    border: 1px solid #001133;
    padding: 5px;
}

.vessel-table tbody tr:nth-child(even) td{
    background-color:#7c97cb;
}

.vessel-table tbody tr:nth-child(odd) td{
    background-color:#A7C3FA;
}

footer {
    background-color: #0D214A;
    color: #EBEEF5;
    padding: 8px;
    text-align: right;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    font-size: 0.9rem;
    padding-right: 13px;
}

@media screen and (max-width: 720px) {
    .head-img {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .nav-bar {
        flex-direction: column;
    }
}

.video-js {
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(3, 4, 22, 0.5); 
    background-color: #001133;
    font-family: "Mulish", sans-serif;
  }
  
.video-js .vjs-control-bar {
    background-color: #0D214A; /* Dark blue control bar */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.video-js .vjs-play-control {
  color: #A7C3FA; 
}
  
.video-js .vjs-volume-panel {
  color: #A7C3FA; 
}
  
.video-js .vjs-progress-control .vjs-play-progress {
  background-color: #A7C3FA; 
}
  
.video-js .vjs-time-control {
  color: #EBEEF5; 
}
  
.video-js .vjs-fullscreen-control {
  color: #A7C3FA;
}
  
.video-js .vjs-big-play-button {

    background-color: rgba(13, 33, 74, 0.7);
    border: 2px solid #A7C3FA;
    border-radius: 50%;
    text-align: center;
    color: #A7C3FA;
    
  }
  
.video-js .vjs-big-play-button:hover {
    opacity: 1;
    background-color: rgba(13, 33, 74, 0.9);
}

.video-js .vjs-picture-in-picture-control {
    display: none;
}