body {
    background-color: #EBEEF5;
    color:#001133;
    font-family: "Mulish", sans-serif;
    margin-right:8%;
    margin-left:8%;
    margin-bottom:2%;
    margin-top:3%;
}

header {
    font-family: "Roboto", sans-serif;
    text-align: center;
    line-height: 200%;
    background-color: #A7C3FA;
    margin:0;
    padding: 0;
    border: 1px solid #152b57;
    border-radius: 5px;
}

header > h1 {
    font-weight:355;
    font-size: 36px;
    text-transform: uppercase;
    margin: 20px 0
}

.nav-bar {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 10px 20px
}

.nav-bar > a {
    text-decoration: none;
    margin: 0 15px;
    color: #0D214A;
    font-size: 18px;
    border: 2px solid;
    border-radius: 20%;
    padding: 8px 10px;
}

.head-img {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 787px;
    height: 220px;
    border-radius: 5%
}

.quote {
    width: 787px;
    margin: 20px auto;
    padding-top: 0;
}

.quote q {
    font-size: 20px;
    color: #333;
    font-style: italic;
}

.main-company-description {
    max-width: 75%; 
    margin: 5% auto;
    padding: 20px; 
    border: 1px solid #284275; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(3, 4, 22);
}

.company-general-description,
.general-pros {
    margin-bottom: 30px;
}

.company-description-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.description-text p {
    line-height: 1.3;
    font-size: 1.15em;
}

.pros-list ul {
    list-style-type:decimal;
    line-height: 1.3;
    font-size: 1.15em;
}

.transport-service {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
}

.service-header {
    font-size: 28px;
    font-weight: bold; 
    margin-bottom: 2.3em; 
    text-align: center;
}

.transport-card {
    max-width: 75%;
    border: 1px solid #526CA1;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(3, 4, 22);
    text-align: center;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.transport-type-header {
    font-size: 1.5em;
    font-weight: bold; 
    color: #333; 
    margin-bottom: 0.5em; 
    margin-top: 0.4em;
}

.transport-description {
    font-size: 1.1em; 
    line-height: 1.2; 
    margin-bottom: 1em;
    margin-left: 5%;
    margin-right: 5%;
    
}

.transport-img {
    width: 400;
    height: 260;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1.3% auto;
}

footer {
    background-color: #0D214A;
    color: #EBEEF5;
    padding: 5%;
    text-align: right;
    margin-top: 40px;
}

footer p {
    font-size: 0.9em;
}